body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

/*Blog Posts*/

.blog-post {
    margin-bottom: 60px;
    
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
    color: black;
}

.blog-post-meta {
    margin-bottom: 20px;
    color: darkslategray;
    font-style:italic;
}

.blog-post-content{
    color: darkslategrey;
    font-size: 20px;
}

.brand-logo {
    text-align: center;

}

h1, h4, h6, h2, .words{
    color: darkslategray;
    font-family: 'Press Start 2P', cursive;
}


    header, main, footer {
      color: darkslategray;
      text-align: center;
      font-family: 'Press Start 2P', cursive;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }
    
    p {
        color: black;
        font-family: 'Press Start 2P', cursive;
    }