 <!DOCTYPE html>
  <html>
    <head><title>Admin</title>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
      <link type="text/css" rel="stylesheet" href="css/Todo2.css">
      <link rel="icon" href="data:;base64,iVBORwOKGgo=">
      
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body class="grey lighten-5">
        <header>
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <nav>
                <div class="nav-wrapper grey darken-3">
                    <a href="#" class="brand-logo">Todo_list</a>
                    <ul class="right-align">
                        <li><a href="index.html" class="grey lighten-2">Home</a></li>                     
                        <li><a href="admin.html" class="grey lighten-3">Admin</a></li>
                        
                        <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <div class="collapsible-body grey">
            </div>
          </li>
        </ul>
      </li>
                    </ul>
                </div>
            </nav>
    
        </header>
        <main>
            <div class="container">
                <div class="row">
                    <h1 class="center-align">(^-^)</h1>
                </div>
                <div class="row">
                    <div class="col s12 main-container">
                        
                    </div>
                </div>
            </div>
        </main>
        <footer class="page-footer grey darken-3">
            <div class="container">
                <p><a href="#">Back to the top</a></p>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    @Copyright 2016 Chris Wyatt
                </div>
               
            </div>
        </footer>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="libs/backendless.js"></script>
      <script type="text/javascript" src="js/admin.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
      <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
      
      <script id="login-template" type="text/x-handlebars-template">
          <div class="col s6">
          <h2 class="center-align">Login</h2>
          <div>
              <form class="col s12 form-signin">
                  <div class="row">
                      <div class="input-field col s12">
                          <input id="email" type="email" name="email" class="validate">
                          <label for="email">Email</label>
                      </div>
                  </div>
                  <div class="row">
                      <div class="input-field col s12">
                          <input id="password" type="password" name="password" class="validate">
                          <label for="password">Password</label>    
                      </div>
                  </div>
                  <div class="row">
                      <div class="col s12">
                          <p class="right-align">
                              <button class="btn btn-large waves-effect waves-light" type="submit" name="action">Log In</button>
                          </p>
                      </div>
                  </div>
              </form>
          </div>
      </div>
      </script>
      <script id="welcome-template" type="text/x-handlebars-template">
          <h2> Welcome, {{email}}</h2>
          <button class="btn btn-large waves-effect waves-light add-blog">Add a new Blog</button>
  <button class="btn btn-large waves-effect waves-light logout">Log Out</button>
      </script>
      <script id="add-blog-template" type="text/x-handlebars-template">
          <h2>Add a new Blog Post</h2>
      <div class="row">
          <form class="col s12 form-add-blog">
              <div class="row">
                  <div class="input-field col s12">
                      <input id="title" type="text" name="title">
                      <label for="title"></label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s12">
                      <textarea id="content" name="content" class="materialize-textarea"></textarea>
                      <label for="content"></label>
                  </div>
              </div>
              <div class="row">
                  <div class="col s12">
                      <p class="right-align">
                          <button class="btn btn-large waves-effect waves-light" name="action">Submit</button>
                      </p>
                  </div>
              </div>
          </form>
      </div>
      </script>
      
    </body>
  </html>
